.details {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 40px 240px;

  &-image {
    object-fit: cover;
    max-width: 300px;
    max-height: 450px;
    border-radius: 8px;
  }

  &-info {
    display: flex;             // flex-контейнер
    flex-direction: row;       // текст слева, рейтинг справа
    align-items: flex-start;
    gap: 16px;
    color: #e0dcdc;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-title,
  &-tagline,
  &-overview {
    color: #e0dcdc;
  }

  &-tagline {
    margin-top: 8px;
    font-size: 24px;
    display: flex;
  }
  &-overview {
    width: 60%;
  }

  &-rating {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    color: #17e117;
    white-space: nowrap;
    font-size: 40px;
  }
  &-rating--count {
    font-size: 16px;
    color: #9b9b9b;
  }
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
}

