.scroll-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #2d2d2d;
  height: 48px;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
