.header {
  width: 100%;
  padding: 16px 32px;
  background-color: #121212; // тёмный фон
  color: #e0dcdc;           // светлый текст
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
  }
}

