.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Fira Code Medium", monospace;
  font-size: 36px;
  background-color: white;
  width: 480px;
  height: 240px;
  border-radius: 24px;
  padding: 16px;
}