.search {
  &-bar, &-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-input {
    background-color: aliceblue;
    width: 60%;
    height: 48px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    font-size: 24px;
    align-self: center;
  }
  &-btn {
    height: 48px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    font-size: 20px;
    align-self: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    margin-left: 24px;
    font-family: "Fira Code Medium", monospace;
  }
}